<h2>System Lists</h2>

<div class="list-menu">
    <a href="/MSaleAdmin/SuggestedTips">Suggested Tips</a>
    <a href="/MSaleAdmin/NonSaleRevenue">Non Sale Revenue</a>
    <a href="/MSaleAdmin/MasterDepartments">Master Departments</a>
    <a href="/MSaleAdmin/AccessLevels">Access Levels</a>
    <a href="/MSaleAdmin/ReceiptMessages">Receipt Messages</a>
    <a href="/MSaleAdmin/DailySpecials">Daily Specials</a>
</div>

